---
import Layout from "@layouts/Layout.astro";
import { getLaunchById } from "@services/api";

export const prerender = false;

const { id } = Astro.params;

let launch;
if (id) {
    launch = await getLaunchById({ id });
}
---

<Layout title=`${launch?.name}`>
    <article class="flex justify-center items-center gap-y-6 flex-col mx-12">
        {
            launch?.links.patch.small ? (
                <img
                    transition:name={`transition-${id}`}
                    src={launch?.links.patch.small}
                    alt={`Launch path of ${launch.name}`}
                    class="w-56 mb-6"
                />
            ) : (
                <div
                    class="size-56 flex items-center justify-center mb-6"
                    transition:name={`transition-no-image-${id}`}
                >
                    <span class="text-gray-100">🚀 No image</span>
                </div>
            )
        }
        <h2 class="my-2 text-4xl text-gray-100 font-bold">{launch?.name}</h2>
        <p class="text-xl text-gray-300 tracking-tight">{launch?.details}</p>
    </article>
</Layout>
